

<div class="notification-container">
    <span class="notification">
        <span id="notification-text">
            Removed from Starred.&nbsp;
        </span>
    </span>
</div>
<script type="text/javascript">
   new NotificationView().viewDidAppear()
</script>