
.not-found {
    width: 100%;
    height: 100%;
    position: absolute;
}

.not-found-image {
    width: 300px;
    height: auto;
    margin-left: calc(50% - 150px);
    margin-top: 10%;
    text-align: center;
}

.not-found-title {
    color: #B2733;
    margin-top: 20px;
    text-align: center;
    font-size: 38px;
    font-weight: lighter;
    line-height: 47px;
}