
<div class="not-found">
    <img class="not-found-image" src="./images/error404.png">
    <div class="not-found-title">
        Pagina não encontrada
    </div>
</div>
<script type="text/javascript">
    new NotFoundView().viewDidLoad();
</script>