
<div>
    <div id="home-header"></div>
    <div id="home-content"></div>
</div>
<script type="text/javascript">
    $("#home-header").load("./htmls/headerView.html", function() {
        new HeaderView().setSelected("#header-about-us");
    });
    $("#home-content").load("./htmls/aboutContentView.html");
</script>