

<div>
    <img class="home-main-illustration" src="./images/main-illustration.png">
    <div class="home-title">Inovando o banking no Brasil</div>
    <div class="home-subtitle">O novo padrão brasileiro de open banking para transferências e boletos</div>
</div>
<script type="text/javascript">
    new HomeContentView().viewDidLoad()
</script>