

.home-main-illustration {
    width: 100%;
    height: auto;
    margin-top: 20px;

}
@media (max-width: 986px) {
    .home-main-illustration {
        position: relative;
z-index: 1;
    }
}
.home-title {
    width: 40%;
    margin-top: -100px;
    margin-left: 80px;
    font-size: 56px;
    color: #3d464d;
}
@media (max-width: 986px) {
    .home-title {
        margin-top: 180px!important;
        font-size: 36px!important;
    }
}


.home-subtitle {
    width: 60%;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 28px;
    color: #637282;
}