
<div>
    <div id="home-header"></div>
    <div id="home-content"></div>
</div>
<script type="text/javascript">
    $("#home-header").load("./htmls/headerView.html");
    $("#home-content").load("./htmls/homeContentView.html");
</script>