
<div class="notification-view"></div>
<div class="header">
    <!--<div class="mobile-nav-container">-->
    <div class="header-logo">
        <a href="#"><img src="./images/logo@2x.png" onclick="new HeaderView().userDidSelect(this.id, this.innerHTML)"></a>
    </div>
        <input type="checkbox" id="toggle-menu" />
        <label for="toggle-menu" class="mobile-btn nav-right">
            <span class="menu-icon"></span>
        </label>
    <!--</div>-->
    <nav role="navigation" id="main-nav" class="nav-right left-align-nav slide-left">
        <ul>
 <li><span id="header-about-us" onclick="new HeaderView().userDidSelect(this.id, this.innerHTML)">
        Sobre nós
 </span></li>
            <li>
<span id="header-our-solution" onclick="new HeaderView().userDidSelect(this.id, this.innerHTML)">
        Nossa Solução
    </span>
            </li>
            <li>
    <span id="header-api" onclick="new HeaderView().redirect(\'https://docs.api.starkbank.com')">
        API
    </span>
            </li>
            <li>

    <span id="header-pricing" onclick="new HeaderView().userDidSelect(this.id, this.innerHTML)">
        Preços
    </span></li>
        </ul>


    <button id="header-signup" class="button" type="submit" onclick="new HeaderView().redirect('https://web.starkbank.com/signup/email')">
        Cadastrar
    </button>

    <button id="header-signin" class="button-border" type="submit" onclick="new HeaderView().redirect('https://web.starkbank.com/signin')">
        Entrar
    </button>

    </nav>
</div>
<script type="text/javascript">
    $(".notification-view").load("/htmls/notificationView.html");
    new HeaderView().viewDidLoad()
</script>
