

.header {
    max-width: 1330px;
    margin: 0 auto;

}
ul {
    display: inline-block;
    margin: 0;
}
li {
    display: inline-block;
    list-style: none;
}
.header-logo {
    float: left;
    display: inline-block;
    margin-left: 80px;
    max-width: 150px;
}

.header-logo:after {
    display: table;
    content: '';
    clear: both;
}
.header-logo img {
    width: 100%;

}

#header-about-us {
    float: left;
    margin-top: 8px;
}

#header-our-solution {
    float: left;
    margin-top: 8px;
    margin-left: 20px;
}

#header-api {
    float: left;
    margin-top: 8px;
    margin-left: 20px;
}

#header-pricing {
    float: left;
    margin-top: 8px;
    margin-left: 20px;
}

#header-signup {
    padding: 10px 55px;
    margin-right: 80px;
    float: right;
    border-radius: 9px!important;
    border: none!important;
}

#header-signup:hover {
    box-shadow: 0px 0px 24px 0px rgba(23, 94, 166, 0.55);
    text-shadow: 0px 0px 24px rgba(23, 94, 166, 0.55);
}

#header-signin {
    margin-top: 10px;
    margin-right: 52px;
    float: right;
}

.header-selected {
    color: #0070e0;
}

.header-unselected {
    color: #637282;
}




#toggle-menu,
.mobile-btn {
    display: none;
}
/***************************
MOBILE NAV
***************************/

.mobile-btn {
float: right;
}



/***************************
MOBILE
***************************/

@media (max-width: 1024px) {

}

@media (max-width: 1179px) {

    /*.mobile-nav-container {*/
        /*overflow: inherit;*/


    /*}*/
.header {
    padding-top: 30px;
}
    .header-logo {
        padding-bottom: 30px;
    }
    .mobile-btn {
        display: block;
        margin-right: 20px;
    }

    #main-nav {
        width: 100%;
       margin-top: 50px;
        border-top: 2px #bfdbf7 solid;
        background-color: white;

    }
ul {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}
#main-nav li  {
display: block;
    text-align: center;
padding-bottom: 44px;
    padding-right: 25px;
    }
#main-nav li span {
float: unset;
    margin: 0;
    text-align: center;
}
#main-nav button {
    float: unset;
    display: block;
    padding: 10px 82px;
    margin: 0 auto;
    border-radius: 9px!important;

}
    .menu-icon {
        font-size: 3em;
        max-width: 45px;
        text-align: center;
        display: block;
        margin: 15% auto;
        cursor: pointer;
        transition: transform .2s ease;
    }
    .menu-icon:hover {
        transform: scale(0.9);
    }
    .menu-icon:before, .menu-icon:after {
        line-height: .5;
    }
    .menu-icon:before {
        content: '☰';
        display: block;
        color: #0070e0;
        margin-bottom: 6px;
    }
    .menu-icon:after {
        content: '╳';
        font-size: 30px;
        display: none;
        color: #0070e0;
    }

#header-signin {
    border: #0070e0 2px solid;
    margin-top: 25px!important;
    background-color: transparent;
}
    .center-align-nav {
        text-align: center;
    }

    .left-align-nav {
        text-align: left
    }

    .right-align-nav {
        text-align: right;
    }

    /***************************
    SLIDE TOP NAV
    ***************************/

    .slide-top {
        position: absolute;
        z-index: 10;
        transform: translateY(-100%);

    }

    #toggle-menu:checked ~ #main-nav {
        transform: translateY(0);
        margin-bottom: 20px;
    }
    /***************************
    | END | SLIDE TOP NAV | END |
    ***************************/

    /***************************
    SLIDE LEFT NAV
    ***************************/

    .slide-left {
        position: absolute;
        z-index: 10;
        transform: translateX(-100%);

        transition: transform .3s ease;
    }


    #toggle-menu:checked ~ #main-nav {
        transform: translateY(0);
    }

    #toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon {
        transform: rotate(180deg)!important;
    }
    #toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon:before {
        display: none!important;
    }
    #toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon:after {
        display: block!important;
    }
    /***************************
    | END | SLIDE TOP NAV | END |
    ***************************/

}


/***************************
HELPER
***************************/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
