

html, body {
    font-family: "AtlasGrotesk", sans-serif;
    font-weight: normal;
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#container {
    height:100%;
    height:100%;
    background-color: white;
    display: block;
}

.button {
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #0070e0;
    text-align: center;
    font-weight: 500;
    line-height: 32px;
    text-align: center;

}

.button-border {
    font-size: 18px;
    cursor: pointer;
    color: #0070e0;
    text-align: center;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    background-color: transparent;
    border: none;

}

.input {
    border: 1px solid #bdc4c9;
    font-size: 16px;
    width: 100%;
    margin: 2px 0 5px;
    min-height: 34px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 5px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
}

.input:focus {
    outline: none;
    border: 2px solid #0070e0;
}

.hidden {
    display: none;
}
span {
    cursor: pointer;
    color: #6d7b8a;
    font-size: 18px;
}