<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <div id="container"></div>
  </body>

</html>
